<div class="layout-preview">
    <div class="text-center title" style="width: 100%">@dashboard.Title</div>
    <BdfLayoutRows Rows="dashboard.Rows" />
</div>
@code {
    [Parameter, EditorRequired] public Dashboard dashboard { get; set; } = default!;

    private string GetRowStyle()
    {
        return $"height: {100 / dashboard.Rows.Count()}%;";
    }
}
