<div class="row @Row.StyleClass" style="@RowStyle">
    @foreach (var col in Row.Columns)
    {
        <BdfColumn Column="@col" IsPreview="@IsPreview" />
    }
</div>

@code {
    [Parameter, EditorRequired] public Row Row { get; set; } = default!;
    [Parameter] public EventCallback<Row> RowChanged { get; set; }
    [Parameter] public string? RowStyle { get; set; }
    [Parameter] public bool IsPreview { get; set; } = false;
}
