@foreach (var row in Rows)
{
    <div class="row @row.StyleClass">
        <BdfColumns @bind-Columns="row.Columns" />
    </div>
}

@code {
    [Parameter, EditorRequired] public List<Row> Rows { get; set; } = default!;
    [Parameter] public EventCallback<List<Row>> RowsChanged { get; set; } = default!;
}
