@foreach (var row in Rows)
{
    <div class="row @row.StyleClass">
        <BdfColumns @bind-Columns="row.Columns" />
    </div>
}

@code {
    [Parameter, EditorRequired] public List<Row> Rows { get; set; } = default!;
    //[Parameter] public EventCallback<List<Row>> RowsChanged { get; set; }
    //[Parameter] public string? RowStyle { get; set; }
    //[Parameter] public bool IsPreview { get; set; } = false;

    // private string GetRowStyle()
    // {
    //     return IsPreview ? $"height: {100 / Rows.Count()}%;" : string.Empty;
    // }
}
