<div class="list-group">
    @foreach (var widget in widgetService.WidgetTypes.Values)
    {
        <button type="button" class="list-group-item list-group-item-action" @onclick="() => SelectWidget(widget)">
            <h3>@widget.Title</h3>
            @if (!string.IsNullOrWhiteSpace(widget.Description))
            {
                <p>@widget.Description</p>
            }
        </button>
    }
</div>

@code {
    [Inject] public WidgetTypeService widgetService { get; set; } = default!;
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task SelectWidget(WidgetType widget)
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(widget));
    }
}
