@implements IDisposable
@implements IContentComponent
@rendermode InteractiveAuto
<h3 class="text-center">@clockWidgetService.CurrentDateTime.ToLongTimeString()</h3>

@code {
    [Parameter, EditorRequired] public WidgetInstance Widget { get; set; } = default!;
    [Inject] ClockWidgetService clockWidgetService { get; set; } = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        clockWidgetService.CurrentDateTimeChanged += OnCurrentDateTimeChanged;
    }

    private async void OnCurrentDateTimeChanged(object? sender, DateTime e)
    {
        await InvokeAsync(() => StateHasChanged());
    }

    public void Refresh()
    {

    }

    public void Dispose()
    {
        clockWidgetService.CurrentDateTimeChanged -= OnCurrentDateTimeChanged;
    }

}
