@implements IDisposable
<div class="text-center fs-2">@clockWidgetService.CurrentDateTime.ToString(GetClockFormat())</div>
@code {
    [Parameter] public ClockConfig Config { get; set; } = default!;
    [Parameter] public EventCallback<bool> SetCollapsed { get; set; }
    [Parameter] public EventCallback<bool> SetHideHeader { get; set; }
    [Parameter] public EventCallback<bool> SetHideWidget { get; set; }
    [Parameter] public EventCallback ToggleCollapsed { get; set; }
    [Parameter] public EventCallback ToggleHideHeader { get; set; }
    [Inject] ClockWidgetService clockWidgetService { get; set; } = default!;

    private bool ranOnce;

    protected override void OnInitialized()
    {
        clockWidgetService.CurrentDateTimeChanged += OnCurrentDateTimeChanged;
        base.OnInitialized();
    }

    private string GetClockFormat()
    {
        return string.IsNullOrWhiteSpace(Config?.Format)
            ? "T"
            : Config.Format;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!ranOnce)
        {
            ranOnce = true;
            await SetHideHeader.InvokeAsync(Config.HideHeader);
        }
        await base.OnParametersSetAsync();
    }

    private async void OnCurrentDateTimeChanged(object? sender, DateTime e)
    {
        await InvokeAsync(() => StateHasChanged());
    }
      
    public void Dispose()
    {
        clockWidgetService.CurrentDateTimeChanged -= OnCurrentDateTimeChanged;
    }
}
